div{
    width: 800px;
    padding: 10px;
    border: 10px solid black;
    animation-name: gogo;
    animation-duration: 5s;
    animation-iteration-count: 3;
    height:300px;
    background-color: blue;
    animation-direction: alternate-reverse;
}
p:hover{
    background-color: black;
}
@keyframes gogo{
    from{
        background-color: blueviolet;
    }
    to{
        background-color: pink;
    }
    50%{transform: rotate(180deg);}
}
